extends extends/base

block content

  // Landing page  
  include ./includes/_brand

  section#body.container
    .row
      .form
        .col-xs-12.col-md-4
          .form-group
            label(for="start_day") Start Date:
            input#start-day.form-control(type="date", value="2018-01-15")
        
        .col-xs-12.col-md-4
          .form-group
            label(for="number_days") Number of days
            input#number-days.form-control(type="number", name="number-days", value="10" max="365", min="1")

        .col-xs-12.col-md-4
          .form-group
            label(for="country_code") Country Code:
            select#country-code.form-control(name="country")
              option(value="0") ---
              option(value="us" selected) US
              option(value="pe") PE
    

    .row
      .col-xs-12.col-md-4
        input#date-input.form-control(type="date")
      


      